//----------------------------------------------------------------------------
//  Colours                                                                 //

    // Shades
    $white:                 #fff;
    $black:                 #000;
    $grey-dark:             #333;
    $grey:                  #e3ecf0;
    $grey-light:            #f1f6f8;

    // Reds
    $red:                   #ff0000;
    $coral:                 #fa504d;

    // Blues
    $baby-blue:             #b3d4fd;
    $cyan:                  #49daf4;
    $teal:                  #1cb1a7;

    // Greens
    $green:                 #6d9822;
    $green-highlight:       #eef0e9;

    // Yellows
    $yellow:                #f7941d;

    // Purples
    $purple:                #a864a8;
