//----------------------------------------------------------------------------
//  Colours                                                                 //

    // Shades
    $white:                 #fff;
    $black:                 #000;
    $grey-dark:             #333;

    // Reds
    $red:                   #ff0000;

    // Blues
    $baby-blue:             #b3d4fd;

    // Greens
    $green:                 #6d9822;
    $green-highlight:       #eef0e9;
