//----------------------------------------------------------------------------
//  Fonts                                                               //

    // Fonts
    $font-default: Arial, Helvetica, sans-serif;

    // Typography spacing
    $header-spacing-top: 2rem;
    $header-spacing-bottom: 0rem;
    $paragraph-spacing-top: 1.5rem;
    $paragraph-spacing-bottom: 0rem;
    $paragraph-spacing-large-top: 3.4rem;
    $paragraph-spacing-large-bottom: 0rem;

    // Styles/mixins
    @mixin t-display-4 {
        // CODE HERE
    }

    .t-display-4 { @include t-display-4; }

    @mixin t-display-3 {
        // CODE HERE
    }

    .t-display-3 { @include t-display-3; }

    @mixin t-display-2 {
        // CODE HERE
    }

    .t-display-2 { @include t-display-2; }

    @mixin t-display-1 {
        // CODE HERE
    }

    .t-display-1 { @include t-display-1; }

    @mixin t-headline {
        // CODE HERE
    }

    .t-headline { @include t-headline; }

    @mixin t-title {
        padding: 0;
        font-family: $font-default;
        font-size: 2.8rem;
        line-height: 1.3em;
        letter-spacing: 0em;
        font-weight: 700;
    }

    .t-title { @include t-title; }

    @mixin t-subhead-3 {
        padding: $header-spacing-top 0 $header-spacing-bottom;
        font-family: $font-default;
        font-size: 2.2rem;
        line-height: 1.3em;
        letter-spacing: 0em;
        font-weight: 700;
    }

    .t-subhead-3 { @include t-subhead-3; }

    @mixin t-subhead-2 {
        padding: $header-spacing-top 0 $header-spacing-bottom;
        font-family: $font-default;
        font-size: 1.8rem;
        line-height: 1.3em;
        letter-spacing: 0em;
        font-weight: 700;
    }

    .t-subhead-2 { @include t-subhead-2; }

    @mixin t-subhead-1 {
        padding: $header-spacing-top 0 $header-spacing-bottom;
        font-family: $font-default;
        font-size: 1.4rem;
        line-height: 1.3em;
        letter-spacing: 0em;
        font-weight: 700;
    }

    .t-subhead-1 { @include t-subhead-1; }

    @mixin t-body-3 {
        padding: $paragraph-spacing-top 0 $paragraph-spacing-bottom;
        font-family: $font-default;
        font-size: 1.6rem;
        line-height: 1.4em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-body-3 { @include t-body-3; }

    @mixin t-body-2 {
        padding: $paragraph-spacing-top 0 $paragraph-spacing-bottom;
        font-family: $font-default;
        font-size: 1.4rem;
        line-height: 1.4em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-body-2 { @include t-body-2; }

    @mixin t-body-1 {
        padding: $paragraph-spacing-top 0 $paragraph-spacing-bottom;
        font-family: $font-default;
        font-size: 1.3rem;
        line-height: 1.4em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-body-1 { @include t-body-1; }

    @mixin t-body-3-bold {
        @include t-body-3;
        font-weight: 700;
    }

    .t-body-3-bold { @include t-body-3-bold; }

    @mixin t-body-2-bold {
        @include t-body-2;
        font-weight: 700;
    }

    .t-body-2-bold { @include t-body-2-bold; }

    @mixin t-body-1-bold {
        @include t-body-1;
        font-weight: 700;
    }

    .t-body-1-bold { @include t-body-1-bold; }

    @mixin t-small-print-2 {
        padding: $paragraph-spacing-top 0 $paragraph-spacing-bottom;
        font-family: $font-default;
        font-size: 1.2rem;
        line-height: 1.4em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-small-print-2 { @include t-small-print-2; }

    @mixin t-small-print-1 {
        padding: $paragraph-spacing-top 0 $paragraph-spacing-bottom;
        font-family: $font-default;
        font-size: 1rem;
        line-height: 1.4em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-small-print-1 { @include t-small-print-1; }

    @mixin t-small-print-1-bold {
        @include t-small-print-1;
        font-weight: 700;
    }

    .t-small-print-1-bold { @include t-small-print-1-bold; }

    @mixin t-small-print-2-bold {
        @include t-small-print-2;
        font-weight: 700;
    }

    .t-small-print-2-bold { @include t-small-print-2-bold; }

    @mixin t-caption-2 {
        font-family: $font-default;
        font-size: 1.2rem;
        line-height: 1.4em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-caption-2 { @include t-caption-2; }

    @mixin t-caption-1 {
        font-family: $font-default;
        font-size: 1.1rem;
        line-height: 1.4em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-caption-1 { @include t-caption-1; }

    @mixin t-caption-2-bold {
        @include t-caption-2;
        font-weight: 700;
    }

    .t-caption-2-bold { @include t-caption-2-bold; }

    @mixin t-caption-1-bold {
        @include t-caption-1;
        font-weight: 700;
    }

    .t-caption-1-bold { @include t-caption-1-bold; }

    @mixin t-menu-2 {
        font-family: $font-default;
        font-size: 1.4rem;
        line-height: 1.3em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-menu-2 { @include t-menu-2; }

    @mixin t-menu-1 {
        font-family: $font-default;
        font-size: 1.4rem;
        line-height: 1.3em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-menu-1 { @include t-menu-1; }

    @mixin t-link-3 {
        font-family: $font-default;
        font-size: 1.6rem;
        line-height: 1.3em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-link-3 { @include t-link-3; }

    @mixin t-link-2 {
        font-family: $font-default;
        font-size: 1.4rem;
        line-height: 1.3em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-link-2 { @include t-link-2; }

    @mixin t-link-1 {
        font-family: $font-default;
        font-size: 1.2rem;
        line-height: 1.3em;
        letter-spacing: 0em;
        font-weight: 400;
    }

    .t-link-1 { @include t-link-1; }

    @mixin t-button-2 {
        font-family: $font-default;
        font-size: 1.4rem;
        letter-spacing: 0em;
        line-height: 1.3em;
        font-weight: 400;
    }

    .t-button-2 { @include t-button-2; }

    @mixin t-button-1 {
        font-family: $font-default;
        font-size: 1.4rem;
        letter-spacing: 0.02em;
        line-height: 1.3em;
        font-weight: 400;
    }

    .t-button-1 { @include t-button-1; }
